.feature-strip-wrapper {
    margin-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #fefdfb;
  padding: 1rem 0;
  scrollbar-width: none; /* Firefox */
}

.feature-strip-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.feature-strip {
  display: inline-flex;
  gap: 2rem;
  padding: 15px 20px;
}

.feature-item {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: #ff5000;
  font-size: 2rem;
  white-space: nowrap;
}

.feature-item .dot {
  font-size: 2rem;
  color: rgba(255, 128, 0, 0.2);
  margin-right: 0.9rem;
}

@media (max-width: 768px) {
  .feature-item {
    font-size: 1rem; /* Smaller font size on mobile */
  }

  .feature-item .dot {
    font-size: 1rem;
    margin-right: 0.5rem; /* Adjust spacing for smaller screens */
  }

  .feature-strip {
    gap: 1rem;
    padding: 10px 15px;
  }
}
