.plump-wrapper {
  padding: 40px 20px;
  background-color: #fffdf9;
}

.plump-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.plump-title {
  color: #ff4c00;
  font-size: 56px;
  font-weight: bold;
}

.shop-all-btn {
  background-color: transparent;
  border: 2px solid #ff4c00;
  color: #ff4c00;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.shop-all-btn:hover {
  background-color: #ff4c00;
  color: white;
}

.kits-scroll {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.kit-block {
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kit-card {
  margin-left: 20px;
  width: 320px;
  height: 520px;
  border: 1px solid #ff4c00;
  border-radius: 20px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.discount-badge {
  background-color: #ff4c00;
  color: white;
  font-weight: bold;
  padding: 4px 10px;
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 20px;
}

.kit-image img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.kit-info {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  max-width: 320px;
}

.kit-info h3 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.kit-info p {
  color: #444;
  font-size: 14px;
  margin-bottom: 10px;
}

.kit-prices {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.new-price {
  color: #ff4c00;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}


/* ------------------------Responsive */
@media (max-width: 768px) {
  .plump-header {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px 20px 10px;
  }

  .plump-title {
    font-size: 32px;
  }

  .shop-all-btn {
    padding: 8px 16px;
    font-size: 13px;
  }

  .kits-scroll {
    gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .kit-card {
    width: 280px;
    height: 400px;
    margin-left: 0;
  }

  .kit-info {
    max-width: 100%;
    padding: 0 10px;
  }

  .kit-image img {
    height: 75%;
  }
}
